
.form-container{
    overflow-y: scroll;
    padding: 2rem;
    text-align: center;
}

.form-container input{
    width: 100%;
    min-height: 2.5rem;
    margin: 10px 0 0 0;
    border: none;
    border-radius: 7px;
    background-color: var(--azulClaro);
}

.imagen-preview-container{
    position: relative;
}

.CrearNuevoPaciente{
    text-align: center;
    color: var(--azulFuerte);
    font-weight: bold;
}

.imagen-preview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.boton-x{ 
    color: var(--azulFuerte);
    font-size: 30px;
    margin-left: 90%;
    margin-bottom: -7%;
    margin-top: 10px;
}

.take-image-button{
    position: absolute;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 1rem;
    text-transform: uppercase;
    color: white;
    text-shadow: black 0 0 5px;
    border: 1px solid white;
}

