.form-container{
    overflow-y: scroll;
    padding: 2rem;
    text-align: center;
}

.form-container label{
    width: 22%;
    margin-right: 5px;
}

.form-container input{
    width: 70%;
    margin: 5px 10px 5px 0;
    text-align: center;
    min-height: 2.5rem;
    border: none;
    background-color: var(--azulClaro);
    border-radius: 10px;
}

.form-container .a{
    display: flex; 
    justify-content: space-between;    
}

.form-container .a2{
    display: flex; 
    align-items: center;
}

.form-container select{
    width: 70%;
    margin-right: 10px;
    text-align: center;
    min-height: 2.5rem;
    border: none;
    background-color: var(--azulClaro);
    border-radius: 10px;
    color: rgb(126, 124, 124);
}

.form-container .c input{
    width: 100%;
}


.form-container .c{
    width: 68%;
}

.form-container .d{
    width: 28%;
    margin-left: 10px;
}

.form-container .d label{
    width: 50%;
}

.form-container .d input{
    width: 100%;
    margin-left: 0;
}

.form-container .b{
    display: flex; 
    width: 100%;
    align-items: center;
}

.imagen-preview-container{
    position: relative;
}

h1{
    text-align: center;
    color: var(--azulFuerte);
    font-weight: bold;
}

.imagen-preview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/*
background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
*/

.boton-x{ 
    color: var(--azulFuerte);
    font-size: 30px;
    margin-left: 90%;
    margin-bottom: -7%;
    margin-top: 10px;
    position:relative;
}

.take-image-button{
    position: absolute;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 1rem;
    text-transform: uppercase;
    color: white;
    text-shadow: black 0 0 5px;
    border: 1px solid white;
}