.conWrap{
    overflow-y: scroll;
}
.form-container1{
    padding: 1rem;
    text-align: center;
}
.form-container1 input{
    width: 70%;
    margin: 0px 10px 30px 15px;
    text-align: center;
    min-height: 2.5rem;
    border: none;
    background-color: var(--azulClaro);
    border-radius: 10px;
}

h3{
    text-align: center;
    color: var(--azulFuerte);
    font-weight: bold;
    margin: auto;
}
.btn{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    color: aliceblue;
    border: solid 2px rgb(0, 153, 255);
    background-image: -webkit-linear-gradient(top, #0979b6, #095579);
}
.boton-x{ 
    color: var(--azulFuerte);
    font-size: 30px;
    margin-left: 90%;
    margin-bottom: -7%;
    margin-top: 10px;
    position:relative;
    background-color: transparent;
}
.ibee {
    height: 10rem;
    width: 10rem;
    background-image: url(../../assets/img/LOGO.png);
    background-size: cover;
    margin: auto;


}