
  ul, li{
    list-style: none;
  }
  .nav li a{
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px 21px;
    display: flex;
    justify-content: center;
  }
  .nav li a:hover{
    background-color: var(--azulClaro);
  }
  .nav > li{
    right: 100px;
  }
  .nav li ul{
    display: none;
    position: absolute;
    min-height: 140px;
  }
  .nav li:hover >ul{
    display: block;
    right: .5px;
    color: black;
  }
