.estadoCuenta{
    width: 100%
}
.estadoCuenta .contenido{
    max-width: 100%;
}
.estadoCuenta .contenido p{
    display: flex;
    align-items: center;
    color: var(--azulMedio);
}
.estadoCuenta .contenido p img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 10px 0 0;
}
.estadoCuenta .contenido h1{
    width: 100%;
    color: var(--azulFuerte);
    font-weight: bold;
    text-align: center;
}
.estadoCuenta .contenido .contenedorTotal{
    background-color: var(--azulFuerte);
    width: 100%;
    height: 60px;
    border-radius: 8px;
    color: white;
}
.estadoCuenta .contenido .contenedorTotal div{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-width: 280px){
    .estadoCuenta .contenido{
        width: 70%;
        margin: 0 auto;
    }
    .estadoCuenta .contenido .contenedorTotal div{
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .estadoCuenta .contenido .contenedorTotal img{
        margin-right: 15px;
        margin-left: 15px;
    }
    
    .estadoCuenta .contenido .contenedorTotal p{
        margin-right: 15px;
        margin-left: 15px;
    }
}

.estadoCuenta .contenido .contenedorTotal img{
    width: 30px;
    filter: var(--blancoImg);
}

.estadoCuenta .contenido .contenedorTotal p{
    color: white;
}

.estadoCuenta .contenido .contenedorTotal div p:first-of-type{
    font-weight: bold;
}

.estadoCuenta .contenido .slogan{
    margin-top: 1rem;
}
.estadoCuenta .contenido .slogan p{
    margin: 0;
    
}
.estadoCuenta .contenido .bloque{
    width: 100%;
    background-color: var(--azulClaro);
    height: 60px;
    border-radius: 8px;
    margin-top: 20px;
}
.estadoCuenta .contenido .bloque:hover{
    background-color: var(--azulFuerte);
    color: white;
}

.estadoCuenta .contenido .bloque:hover a p{
    color: white;
}

.estadoCuenta .contenido .bloque:hover a img{
    filter: var(--blancoImg);
}
.estadoCuenta .contenido .bloque a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.estadoCuenta .contenido .bloque a img:first-of-type{
    height: 2.5rem;
    width: 3rem;
    margin: 0;
}
.estadoCuenta .contenido .bloque a p{
    color: var(--negroOpaco);
    font-size: 1.1rem;
}
.estadoCuenta .contenido .bloque a img:last-of-type{
    width: 20px;
}
.estadoCuenta .contenido .bloque a img.edit{
    height: 3rem;
}