.contenedorInterrogatorioAparatosSistemas {
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 5.2rem);
}
 
@media only screen and (min-width: 768px) {
    .contenedorInterrogatorioAparatosSistemas {
        width: 70%;
        max-width: 768px;
        margin: 0 auto;
        height: calc(100% - 5rem);
    }
}

.contenedorInterrogatorioAparatosSistemas h1{
    color: var(--azulFuerte);
    font-weight: bold;
}
.contenedorInterrogatorioAparatosSistemas form{
    width: 100%;
    height: calc(100% - 6.5rem);
    overflow-y: scroll;
}
.contenedorInterrogatorioAparatosSistemas form::-webkit-scrollbar {
    display: none;
}
.contenedorInterrogatorioAparatosSistemas form label{
    margin: 10px 0 5px 0;
    display: inline-block;
    font-weight: bold;
}

.contenedorInterrogatorioAparatosSistemas form .bloque{
    width: 100%;
    background-color: var(--azulClaro);
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
}
.contenedorInterrogatorioAparatosSistemas form .bloque div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.contenedorInterrogatorioAparatosSistemas form .bloque div p{
    color: red;
    margin: 0;
}
.contenedorInterrogatorioAparatosSistemas form .bloque div button{
    background-color: gray;
    color: white;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100px;
    text-align: center;
}
.contenedorInterrogatorioAparatosSistemas form input{
    background-color: var(--azulClaro);
    border: none;
    border-radius: 7px;
    height: 2rem;
}
.contenedorInterrogatorioAparatosSistemas form .bloqueTres div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.contenedorInterrogatorioAparatosSistemas form .bloqueTres input{
    width: 100%;
    text-align: center;
    height: 3rem;
    margin: 10px 0 0 0;
}
.contenedorInterrogatorioAparatosSistemas form .bloqueCuatro{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.contenedorInterrogatorioAparatosSistemas form .bloqueCuatro input{
    width: 100%;
    text-align: center;
    height: 3rem;
    font-size: .9rem;
}

.contenedorInterrogatorioAparatosSistemas form .btnGuardar{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
}
.contenedorInterrogatorioAparatosSistemas form .btnGuardar button{
    background-color: var(--azulFuerte);
    width: 50%;
    font-size: 1rem;
    height: 2.5rem;
    color: white;
    border-radius: 7px;
}
.contenedorInterrogatorioAparatosSistemas input[tipe=checkbox]{
    border-radius: 100%;
}