:root {
    --azulMuyClaro: rgb(225, 250, 255);
    --azulClaro: rgb(190, 229, 237);
    --azulMedio: rgb(6, 179, 202);
    --azulMedioImg: invert(45%) sepia(75%) saturate(717%) hue-rotate(143deg) brightness(104%) contrast(95%);
    --azulFuerte: rgb(12, 142, 173);
    --azulFuerteImg: invert(40%) sepia(96%) saturate(2126%) hue-rotate(163deg) brightness(87%) contrast(91%);
    --azulMuyFuerte: rgb(10, 112, 138);
    --negroOpaco: rgb(79, 80, 82);
    --negroOpacoImg: invert(0%) sepia(6%) saturate(24%) hue-rotate(268deg) brightness(97%) contrast(107%);
    --grisClaro: rgb(182, 181, 181);
    --grisClaroImg: invert(78%) sepia(0%) saturate(18%) hue-rotate(175deg) brightness(91%) contrast(95%);
    --grisImg: invert(58%) sepia(12%) saturate(20%) hue-rotate(86deg) brightness(85%) contrast(87%);
    --blancoImg: invert(100%) sepia(6%) saturate(24%) hue-rotate(221deg) brightness(106%) contrast(106%);
    --rojoImg: invert(12%) sepia(84%) saturate(5918%) hue-rotate(4deg) brightness(101%) contrast(121%);
}